/* СМАРТФОН */

@media screen and (max-width: 767px) {
  .navigation-list,
  .contacts {
    display: none;
  }
  .works {
    display: none;
  }
  .basement-form-cont {
    width: 100%;
  }

  .basement-right > .logo {
    display: block;
    margin: auto;
    width: 117px;
  }

  .basement-text {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
  }

  .footer-title {
    text-align: center;
  }
}

@media screen and (min-width: 428px) {
  .mob-menu-phone {
    font-size: 36px;
  }
}

.hero {
  background-color: var(--dark-color);
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/people-office_tab_x1.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

@media (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/people-office_tab@2x.jpg);
  }
}

.container {
  width: 428px;
}

.modal {
  width: 408px;
  height: 584px;
}

/* ПЛАНШЕТ */

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }

  .header {
    border-bottom: 1px solid var(--accent-color);
    padding-top: 25px;
    margin-bottom: -1px;
  }

  .mob-menu.is-open {
    transform: translateX(0);
  }

  .navigation-list {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--dark-color);
    display: flex;
    gap: 40px;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .menu-studio {
    color: var(--pressed-state-color);
  }

  .menu-studio::after {
    content: "";
    display: block;
    width: 48px;
    height: 4px;
    background-color: var(--pressed-state-color);
    border-radius: 2px;
    margin-top: 21px;
  }

  .menu-portfolio {
    color: var(--pressed-state-color);
  }

  .menu-portfolio::after {
    content: "";
    display: block;
    width: 66px;
    height: 4px;
    background-color: var(--pressed-state-color);
    border-radius: 2px;
    margin-top: 21px;
  }

  .contacts {
    font-size: 16px;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--text-color);
  }

  .contacts-list {
    display: flex;
  }

  .menu-open-btn {
    display: none;
  }

  .mob-menu {
    display: none;
  }

  .hero {
    background-color: var(--dark-color);
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/people_office_DT_x1.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }

  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .hero {
      background-image: linear-gradient(
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url(../images/people-office_DT@2x.jpg);
    }
  }

  .hero-text {
    font-size: 56px;
    line-height: 1.07;
    max-width: 496px;
  }
  .advantages-list {
    display: flex;
    flex-wrap: wrap;
    gap: 72px 24px;
  }

  .advantages-list li {
    flex-basis: calc((100% - 24px) / 2);
  }

  .advantages-list-name {
    text-align: left;
  }
  .team-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 64px 24px;
  }

  .team-list-picture {
    width: 100%;
    width: calc((100% - 24px) / 2);
  }

  .customers-list {
    display: flex;
    flex-wrap: wrap;
    gap: 72px 24px;
  }

  .customer-icon {
    width: calc((100% - 48px) / 3);
  }

  .basement-box {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 64px 24px;
  }

  .basement-left {
    margin: 0;
    width: 208px;
  }

  .basement-right {
    margin: 0px;
    width: 264px;
  }

  .basement-form {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }

  .basement-form-wrap {
    width: 453px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1157px) {
  .header {
    padding-top: 0;
  }

  .header-container {
    padding: 0px 16px;
  }

  .navigation {
    padding-top: 24px;
  }

  .contacts-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
  }

  .phone .mail {
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: var(--text-color);
    margin-right: 0;
  }

  .works {
    display: none;
  }
  .team > .container {
    width: 552px;
  }

  .customers > .container {
    width: 552px;
  }

  .basement > .container {
    width: 552px;
  }
}

/* ДЕСКТОП */

@media screen and (min-width: 1158px) {
  .container {
    width: 1158px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
  }

  .header {
    padding-top: 25px;
  }

  .header-container {
    display: flex;
    padding-top: 0;
    padding-bottom: 0;
  }

  .navigation {
    display: flex;
    margin-right: auto;
  }

  .contacts-list {
    display: flex;
    margin-bottom: 24px;
  }

  .phone {
    margin-right: 40px;
  }

  .hero {
    padding-top: 188px;
    padding-bottom: 188px;
  }

  .hero-text {
    width: 496px;
    max-width: none;
  }

  .hero-btn {
    margin-top: 48px;
  }

  .section {
    padding-top: 120px;
    padding-bottom: 120px;
  }

  .advantages-icon {
    width: 264px;
    height: 112px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--another-background);
    border-radius: 4px;
    margin-bottom: 8px;
  }

  .advantages-list {
    display: flex;
    flex-wrap: nowrap;
    gap: 24px;
  }

  .works {
    padding-bottom: 120px;
  }

  .works-title {
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: var(--dark-color);
  }
  .works-list {
    display: flex;
    gap: 24px;
    margin-top: 72px;
  }

  .works-list-picture {
    width: calc((100% - 48px) / 3);
  }

  .team-list {
    display: flex;
    flex-wrap: nowrap;
    gap: 24px;
  }
  .advantages-list li {
    width: calc((100% - 72px) / 4);
  }

  .advantages-list-name {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
  }

  .advantages-list-text {
    font-weight: 400;
  }

  .customers-list {
    display: flex;
    justify-content: center;
    gap: 24px;
    margin-top: 72px;
  }

  .customer-icon {
    width: 168px;
  }

  .basement {
    padding-top: 100px;
    padding-bottom: 100px;
  }

  .basement-box {
    display: flex;
    align-items: start;
    flex-wrap: nowrap;
    gap: 0;
  }

  .basement-left {
    margin-left: 120px;
  }

  .basement-form-wrap {
    margin-left: 80px;
  }

  .basement-form-btn {
    margin-left: 24px;
  }

  .basement-form-input {
    min-width: 264px;
  }
}
